@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Teko:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#container{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding: .8em 1.5em;
}
header{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: sticky;
    top: -90px;
    z-index: 5;
}
#logo{
    display: flex;
    justify-content: center;    
}
#text h1{
    font-size: 3.8em;
    margin: .1em .1em;
    padding: 0;
    text-decoration: none;
    color: #7a4011;
}
#go{
    color: #4d2200;
}
#nav-bar{    /* ###### NAV ########## */
    font-size: 2.2em;
    z-index: 3;
    width: 100%;
    margin: 0 auto;    
}
#nav-bar ul{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
#nav-bar ul li{
    width: 33.5%;
    background: #e0ab81;
    margin: 0 5px;
}
#nav-bar ul li a{
    color: #4d2200;
}
#nav-bar ul li:hover{
    color: #e0ab81;
    background: #4d2200;
}
#nav-bar ul li a:hover{
    color: #e0ab81;
    background: #4d2200;
}
#hero{      /* ############ HERO SECTION ########### */
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#hero img{
    width: 60%;
    margin: 20px auto;
}
#hero h2{
    font-size: 3.2em;
    color: #7a4011;
    margin-top: -10px;
    padding: 0;
}
#hero p{
    margin-top: -40px;
    margin-bottom: 20px;
    color: #AA6b39;
    font-size: 1.2em;
}
#cup{ /* ######## COFFEE CUP PLAYER ########## */
    margin: 30% 0;
}
.hide-mobile{  /* HIDE MOBILE */
    display: none;
}
#dk_brn_top{
    margin-top: 20%;
    background: #4d2200;
    padding-bottom: 2px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    min-width: 90%;
    position: relative;
}
#lt_brn_top{
    background: #7a4011;
    margin: 0 10% 2% 10%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 15%;
    min-width: 290px;
}
#lt_brn_top2{
    position: absolute;
    top: 0%;
    left: 7%;
    width: 2%;
    height: 190px;
    background: #7a4011;
    z-index: 3;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#lt_brn_top3{
    position: absolute;
    top: 0%;
    left: 4%;
    width: 2%;
    height: 150px;
    background: #7a4011;
    z-index: 3;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#video{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    width: 280px;
    height: 150px;
}
#dk_brn_bottom_cup{
    background: #4d2200;
    height: 40px;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    min-width: 90%;
}
#lt_brn_bottom_cup1{
    position: absolute;
    background: #7a4011;
    height: 15px;
    top: 15px;
    left: 4%;
    width: 65%;
    margin: 0 auto;
    border-top-right-radius: 15px;    
}
#lt_brn_bottom_cup2{
    position: absolute;
    background: #7a4011;
    height: 8px;
    bottom: 5px;
    left: 4%;
    width: 92%;
    margin: 0 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 15px;
}
#lt_brn_bottom_cup3{
    position: absolute;
    background: #7a4011;
    height: 10px;
    top: 5px;
    left: 4%;
    width: 30%;
    margin: 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
#break{
    position: relative;
    top: -100px;
    background: url(img/background.png);
    width: 100%;
    height: 40px;
    border-top: 2px solid #4d2200;
}
#about{
    margin: 20px 0 0 0;
    padding: 0;
}
#about ul{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
    padding: 0;

}
#about ul li{
    width: 33%; 
}
#about ul li h2{
    background: #fff;
    border-radius: 15px;
    font-size: 30px;
    color: #4d2200;
    line-height: 1em;
    padding: 4px;
    margin: 0; 
}
#box1{
    background: url(img/background.png);
    height: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}
#box2{
    background: url(img/background.png);
    height: 60px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#about_p{
    margin-bottom: 35%;
}
#about_p img{
    float: left;
    height: 110%;
    padding: 0 5px 0 5px;
}

.form_container {
    background: #AA6b39;
    padding: 35px;
    margin-top: 15%;
    position: relative;
}
.form_container:before{
    content: "";
    width: 40px;
    height: 40px;
    background-color: #AA6b39;
    position: absolute;
    top: -39px;
    right: 0px;
    z-index: -2;    
}
.form_container:after{
    content: "";
    width: 40px;
    height: 39px;
    background-color: #fff;
    position: absolute;
    top: -39px;
    right: 0px;
    z-index: 4; 
    border-bottom-right-radius: 50%;   
}
.form_containerII{
    position: relative;
}
.form_containerII:before{
    content: "";
    width: 40px;
    height: 40px;
    background-color: #AA6b39;
    position: absolute;
    top: -39px;
    left: 0px;
    z-index: -2;
}
.form_containerII:after{
    content: "";
    width: 40px;
    height: 39px;
    background-color: #fff;
    position: absolute;
    top: -39px;
    left: 0px;
    z-index: 4; 
    border-bottom-left-radius: 50%; 
}
.form_container #top_sub{
    font-size: 2em;
    color: #fff;
}
.form_container ul li{
    margin-bottom: 25px;
}
.form_container #email{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}
.form_container #submit{
    width: 60%;
    height: 40px;
    background-color: #4d2200;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}
footer{
    background: #4d2200;
}
footer #foot_logo{
    display: block;
    margin: 0 auto;
    text-align: center;
}
footer #f-wrap{
    display: flex;
    justify-content: center;
    height: 70px;

}
footer #foot-logo-text{
    font-size: 1.8em;
    margin: -32px 0 0;
    padding: 0;
    text-decoration: none;
    color: #e0ab81;
}
#gof{
   color: #fff;
}
.left-foot{
    color: #e0ab81;
    line-height: .8em;
}
#right-foot a{
    color: #e0ab81;
}


@media screen and (min-width: 775px){
    header{
        position: sticky;
        top: 0;
        margin: 0;
        padding: 0;
        z-index: 5;
    }
    #header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    }
    #nav-bar ul{ 
        margin: 12px auto 0 auto;
        padding: 5px;
    }
    #nav-bar ul li{
        width: 33%;
        text-align: center;
    }
    #nav-bar ul li a{
        font-size: 45px;   
    }
    #hero img{
        width: 80%;
    }
    #hero h2{
        font-size: 3.8em;
    }
    #hero p{
        font-size: 1.5em;
    }
    .show-desktop{
        display: inline;
    }
    .hide-desktop{
        display: none;
    }
    #about{
        width: 70%;
        margin: 0 auto;
    }


}


